<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminReservations.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <div>
            <button class="logout"><a href="/logOut">Log out</a></button>
        </div>

        <header>RESERVATIONS</header><br>

        <header class="today">Today: <%=today%></header><br>

        <form action="/admin/date" class="form" method="POST">
            <div class="input-box">
                <label for="date">DATE</label>
                <input type="date" required id="date" name="date" min=<%=minDate%> max=<%=maxDate%> />
                <button class="form-button" type="submit" value="Upload">Submit</button>
            </div>
        </form>
       
        <h4><%=selectedDate%></h4>
        <ul>
            <% reservations.forEach( el => { %>
                <li class='reservations' data-id='<%=el._id%>'>
                    <div>
                        <span>Name: <%= el.name %></span>
                        <span>Table: <%= el.table %></span>
                        <span>Time: <%= el.hour %></span>
                        <form action="/admin/editReservation/<%=el._id%>?_method=PUT" method="POST">
                            <button class="reservationButtons">Edit Reservation</button>
                        </form>
                        <form action="/admin/deleteReservation/<%=el._id%>?_method=DELETE" method="POST">
                            <button class="reservationButtons"> Delete Reservation</button>   
                        </form>
                       
                    </div>
                </li><br>
            <% }) %>   

        </ul>
        <script src="js/adminReservations.js"></script>
    </body>
</html>

