<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/restaurant.png"
    />
    <link rel="stylesheet" href="css/tables.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
      <div class="contenedor">
        <div class="container">
          <div class="screen">View</div>
 
          <div class="row">
            <div class="seat round <%= busyTables.includes('A2') ? 'busy' : '' %>">A2</div>
            <div class="seat round <%= busyTables.includes('C2') ? 'busy' : '' %>">C2</div>
            <div class="seat round <%= busyTables.includes('B2') ? 'busy' : '' %>">B2</div>
            <div class="seat round <%= busyTables.includes('D2') ? 'busy' : '' %>">D2</div>
            <div class="seat round <%= busyTables.includes('F2') ? 'busy' : '' %>">F2</div>
            <div class="seat round <%= busyTables.includes('G2') ? 'busy' : '' %>">G2</div>
            <div class="seat last-tables <%= busyTables.includes('H4') ? 'busy' : '' %>">H4</div>
           
          </div>

          <div class="kitchen">
            <div class="wra">
              <div>
                <div class="seat middle <%= busyTables.includes('A4') ? 'busy' : '' %>">A4</div>
                <div class="seat middle <%= busyTables.includes('B4') ? 'busy' : '' %>">B4</div>
                <div class="seat middle <%= busyTables.includes('C4') ? 'busy' : '' %>">C4</div>
              </div>
              <div class="hodnik"></div>
              
              <div>
                <div class="seat middle <%= busyTables.includes('D4') ? 'busy' : '' %>">D4</div>
                <div class="seat middle <%= busyTables.includes('F4') ? 'busy' : '' %>">F4</div>
                <div class="seat middle <%= busyTables.includes('G4') ? 'busy' : '' %>">G4</div>
               
               
              </div>
              <div class="hodnik"></div>
              <div>
                <div class="seat middle <%= busyTables.includes('H4') ? 'busy' : '' %>">H4</div>
                <div class="seat middle <%= busyTables.includes('I4') ? 'busy' : '' %>">I4</div>
                <div class="seat middle <%= busyTables.includes('J4') ? 'busy' : '' %>">J4</div>
               
              </div>
            </div>
            
            <div>
              <div class="seat bar-chairs <%= busyTables.includes('A1') ? 'busy' : '' %>">A1</div>
              <div class="seat bar-chairs <%= busyTables.includes('B1') ? 'busy' : '' %>">B1</div>
              <div class="seat bar-chairs <%= busyTables.includes('C1') ? 'busy' : '' %>">C1</div>
              <div class="seat bar-chairs <%= busyTables.includes('D1') ? 'busy' : '' %>">D1</div>
              <div class="seat bar-chairs <%= busyTables.includes('E1') ? 'busy' : '' %>">E1</div>
              <div class="seat bar-chairs <%= busyTables.includes('F1') ? 'busy' : '' %>">F1</div>
            </div>
            <div class="bar">BAR</div>

          </div>
          
    
          <div class="row">
            <div class="seat round <%= busyTables.includes('J2') ? 'busy' : '' %>">J2</div>
            <div class="seat round <%= busyTables.includes('K2') ? 'busy' : '' %>">K2</div>
            <div class="seat round <%= busyTables.includes('L2') ? 'busy' : '' %>">L2</div>
            <div class="seat round <%= busyTables.includes('M2') ? 'busy' : '' %>">M2</div>
            <div class="seat round <%= busyTables.includes('N2') ? 'busy' : '' %>">N2</div>
            <div class="seat round <%= busyTables.includes('O2') ? 'busy' : '' %>">O2</div>
            <div class="seat round <%= busyTables.includes('Q2') ? 'busy' : '' %>">Q2</div>
          
          </div>
    
          <div class="row">
            <div class="seat last">A6</div>
            <div class="seat last">B6</div>
    
            <div class="seat last">C6</div>
            <div class="seat last">D6</div>
            <div class="seat last">E6</div>
      
          </div>
          <div class="entrance">Entrance</div>
    
          <div class="row">
            <div class="seat last-tables">K4</div>
            <div class="seat last-tables">L4</div>
            <div class="seat last-tables">M4</div>
            <div class="seat last-tables">N4</div>
            <div class="seat last-tables">O4</div>
            
          </div>
            
          </div>
        </div>
     
    
            </tbody>
            </table>     
          </div>
          <button class="noTable"><a href="/final">NO TABLE PREFERENCE</a></button>
          <script src="js/main.js"></script>
    </body>
</html>

